.posts_group {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-height: 300px;
  justify-content: space-evenly;
  overflow: auto;
  scroll-behavior: smooth;
  p {
    text-align: start;
  }
}
